<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/res/logo.png"></a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Domů</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/pravidla/">Pravidla</a></li>
      <li class="menu-items"><a class="menu-links out-links" href="http://bit.ly/BRKL20">Mám klíště!</a></li>
    </menu>
  </div>
</aside>
